/* You can add global styles to this file, and also import other style files */

/* Application-wide Styles */
h1 { font-family: Arial, Helvetica, sans-serif; font-size: 250%; }
h1 a { color: #369; text-decoration: none; }
h2, h3 {
color: #444;
font-family: Arial, Helvetica, sans-serif;
font-weight: lighter;
}
body {
margin: 2em;
}
body, input[text], button {
color: #888;
font-family: Cambria, Georgia;
}
/* everywhere else */
* {
font-family: Arial, Helvetica, sans-serif;
}

nav a {
padding: 5px 10px;
text-decoration: none;
margin-top: 10px;
margin-right: 4px;
display: inline-block;
background-color: #eee;
border-radius: 4px;
}
nav a:visited, a:link {
color: #607d8b;
}
nav a:hover {
color: #039be5;
background-color: #cfd8dc;
}
nav a.active {
color: #039be5;
}

table.display td { vertical-align: top; padding: 0; }
table.display td.det { padding-left: 40px; }
table.display td.det input { border: none; background: #f3f3f3; padding: 7px 15px; }
table.display td h4.none { background: #f3f3f3; padding: 15px 25px; margin-top: 70px; font-weight: 400; }